{% extends "base.html" %}


{% block content %}

<h3>This is the content on {{ header }}</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum doloribus maiores obcaecati necessitatibus officia sequi animi est commodi maxime aut, cumque in officiis iure assumenda alias autem facere tenetur tempore, earum voluptatibus perspiciatis laborum unde voluptatum quod. Eum ex, laudantium et cupiditate mollitia dicta corporis, voluptatem officiis, recusandae ratione perferendis!</p>

{% endblock %}